/* component/buttons */

.primary-button {
    border: 1px solid $smoky-black;
    background-color: $white;
    color: $smoky-black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    font-size: $medium;
    margin: 15px;
    padding: 15px 20px;
    font-weight: 700;
    

    &:hover {
        border: 1px solid $quick-silver;
    }

    &:focus {
        border: 1px solid $quick-silver;
        color: $quick-silver;
    }
}