.primary-button {
    border: 1px solid $smoky-black;
    background-color: $white;
    color: $smoky-black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    font-size: $medium;
    margin: 4px 2px;
    padding: 10px 25px;
    font-weight: 700;
    
    &--small {
        font-size: $small;
        margin: 4px 2px;
        padding: 7px 15px;
        font-weight: 700;
        
    }

    &:hover {
        border: 1px solid $quick-silver;
    }

    &:focus {
        border: 1px solid $quick-silver;
        color: $quick-silver;
    }
}