/* Layout System - Using CSS Display, Float, Position */
/* By R.Z */

/* force box size */
* {
  box-sizing: border-box;
}

/*wrappers*/

/* wrap level 1 */
.container {
  display:block;
  width:80%;
  margin:auto;
}

/* wrap level 2 */
.box {
  display:inline-block;
  width:100%;
}

/* wrap level 3 */
.row {
  display:block;
}

/*position left and right*/

.pos-right {
  position:absolute;
  top:0;
  right:0;
}

.pos-left {
  position:absolute;
  top:0;
  left:0;
} 

.pos-fixed {
  position: fixed;
  z-index: 1;
  top:0;
  width:inherit;
}

/* columns. It has position relative to use position absolute inside them. Clearfix hack at the end*/

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
  position:relative;
}

.col-1 {
  width: 8.33%;
}

.col-2 {

  width: 16.66%;

}

.col-3 {

  width: 25%;

}

.col-4 {
  width: 33.33%;
}


.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

/*clear fix hack to avoid collapsed div when using position in child under row*/
.row:after {
content: "";
display: table;
clear: both;
} 

