/* themes/show-grid */
/* By R.Z */
/* Displays 4 level divs: 1-container 2-box 3-row 4-column + screen sizes + position absolute and position fix */



  .container {
    background-color: aqua;
    border: 5px solid blue;
  }
  
  .box {
    background-color: yellow;
    border: 5px solid orange;
  }
  

  .row {
    background-color: violet;
    border: 5px solid purple;
  }
  
  .pos-right {
    background-color:darkgrey;
    border:1px solid black;
  }
  
  .pos-left {
    background-color:darkgray;
    border:1px solid black;
  } 
  
  .pos-fixed {
    border:5px solid black;
  }
  
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    background-color: pink;
    border: 5px solid red;
  }
  
  @media (max-width: 575.98px) 
{ 
    body {background-color: red;}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) 
{ 
    body {background-color:blue;} 
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) 
{ 
    body {background-color:green;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) 
{ 
    body {background-color:yellow;} 
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) 
{ 
    body {background-color:pink;} 
}

/* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) 
{ 
    body {background-color: purple;} 
}